{% extends 'base.html' %}
{% load static %}

{% block title %}CapybaraStudios - Blogposts{% endblock %}

{% block content %}
    <br><br><br>
    <div class="container">
        <div class="row">
            <div class="card grey darken-4 col s10">
                <div class="card-content">
                    <<div class="card-title orange-text text-darken-1"><i class="material-icons left">newspaper</i><span><b>Blogposts</b></span></div>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="card-content">
                            <div class="row">
                                <div class="input-field col s4 grey-text">
                                    <label for="id_title">Title</label>
                                    <input type="text" name="title" maxlength="100" id="id_title" class="grey-text text-lighten-1">
                                </div>
                                <div class="input-field col s4 grey-text">
                                    <label for="id_content">Content</label>
                                    <textarea name="content" class="materialize-textarea grey-text text-lighten-1" cols="40" rows="10" id="id_content"></textarea>
                                </div>
                                <div class="col s14">
                                    <button class="waves-effect btn orange darken-1 black-text" type="submit"><i class="material-icons left">search</i>Find</button>
                                    {% if search %}
                                        <a class="waves-effect btn white orange-text text-darken-1" href={% url 'blogpost-list' %}><i class="material-icons left">clear</i>Clear filters</a>
                                    {% endif %}
                                </div>
                                <div class="col s12">
                                    <span class="new badge orange darken-1 black-text left" data-badge-caption="Blogposts total">{{ all_blogposts.count }}</span>
                                    {% if search %}
                                        <span class="new badge orange darken-1 black-text left" data-badge-caption="filtered found">{{ blogposts_found.count }}</span>
                                    {% endif %}
                                </div>
                            </div>
                            {% if user.is_authorized %}
                                <a class="waves-effect btn orange darken-1 black-text" href={% url 'blogpost-create' %}><i class="material-icons left">add</i>Write a Blogpost</a><br><br>
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="row">
            {% if search %}
                <h5>Search results</h5>
                {% for blogpost in blogposts_found %}
                    <div class="col s4">
                        <div class="card sticky-action grey darken-4 grey-text text-lighten-1">
                            <div class="card-image waves-effect waves-block waves-light" style="height: 250px;">
                                {% with p_image=blogpost.first_image %}
                                    {% if p_image %}
                                        <a href="{{ blogpost.id }}/"><img src="{{ p_image.image.url }}" alt="BlogpostImage" style="width: 100%; height: auto"></a>
                                    {% else %}
                                        <a href="{{ blogpost.id }}/"><img src="{% static '/images/Capybara.png' %}" alt="CapybaraLogo" style="width: 100%; height: auto"></a>
                                    {% endif %}
                                {% endwith %}
                            </div>
                            <div class="card-content">
                                <span class="card-title orange-text text-darken-1"><b>{{ blogpost.title }}</b></span>
                                <p class="oneline">{{ blogpost.content }}</p><br>
                                <a class="orange-text text-darken-1" href="{{ blogpost.id }}/">View blogpost</a><br><br>
                                <span class="orange-text text-darken-1 right"><b class="grey-text text-lighten-1">Posted by</b> {{ blogpost.creator }}</span><br>
                                <span class="orange-text text-darken-1 right">{{ blogpost.timestamp|date:"d.m.Y H:i" }}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                {% for blogpost in all_blogposts %}
                    <div class="col s4">
                        <div class="card sticky-action grey darken-4 grey-text text-lighten-1">
                            <div class="card-image waves-effect waves-block waves-light" style="height: 250px;">
                                {% with p_image=blogpost.first_image %}
                                    {% if p_image %}
                                        <a href="{{ blogpost.id }}/"><img src="{{ p_image.image.url }}" alt="BlogpostImage" style="width: 100%; height: auto"></a>
                                    {% else %}
                                        <a href="{{ blogpost.id }}/"><img src="{% static '/images/Capybara.png' %}" alt="CapybaraLogo" style="width: 100%; height: auto"></a>
                                    {% endif %}
                                {% endwith %}
                            </div>
                            <div class="card-content">
                                <span class="card-title orange-text text-darken-1"><b>{{ blogpost.title }}</b></span>
                                <p class="oneline">{{ blogpost.content }}</p><br>
                                <a class="orange-text text-darken-1" href="{{ blogpost.id }}/">View blogpost</a><br><br>
                                <span class="orange-text text-darken-1 right"><b class="grey-text text-lighten-1">Posted by</b> {{ blogpost.creator }}</span><br>
                                <span class="orange-text text-darken-1 right">{{ blogpost.timestamp|date:"d.m.Y H:i" }}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="{% static '/images/Nightsky.png' %}"></div>
    </div>
{% endblock %}