{% extends 'about.html' %}

{% block title %}CapybaraStudios - Login{% endblock %}
{% load static %}

{% block content %}
    <br><br><br>
    <div class="container">
        <div class="row">
            <div class="col s12 m8 card grey darken-4">
                <div class="card-content">
                    <div class="card-title orange-text text-darken-1"><i class="material-icons left">login</i><span><b>Login</b></span></div>
                    <form method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">person</i>
                                <label for="id_username">Username</label>
                                <input type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username" class="grey-text text-lighten-1">
                            </div>
                            <div class="input-field col s12">
                                <i class="material-icons prefix">vpn_key</i>
                                <label for="id_password">Password</label>
                                <input type="password" name="password" autocapitalize="none" autocomplete="current-password" maxlength="150" required id="id_password" class="grey-text text-lighten-1">
                            </div>
                        </div>
                        <button type="submit" class="waves-effect waves-light btn orange darken-1 black-text"><i class="material-icons left">login</i>Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="{% static '/images/Nightsky.png' %}"></div>
    </div>
{% endblock %}