{% extends 'base.html' %}
{% load static %}

{% block title %}CapybaraStudios - Leaderboard{% endblock %}

{% block content %}
    <div class="container">
        <h3 class="orange-text text-darken-1">Leaderboard</h3>

        <div class="row">
            <div class="card grey darken-4 col s6">
                <form method="POST">
                    {% csrf_token %}
                    <div class="card-content">
                        <span class="card-title orange-text text-darken-1">Filter results</span>
                        <input type="hidden" name="sortby" value="PT" maxlength="0">
                        <div class="row">
                            <div class="input-field col s4">
                                <select name="mapname" id="mapname">
                                    <optgroup label="Singleplayer" class="grey-text text-lighten-1">
                                        <option value="Space" {% if data.mapname == 'Space' %}selected{% endif %}>Space</option>
                                        <option value="Dungeon" {% if data.mapname == 'Dungeon' %}selected{% endif %}>Dungeon</option>
                                        <option value="MilitaryBase" {% if data.mapname == 'MilitaryBase' %}selected{% endif %}>MilitaryBase</option>
                                    </optgroup>
                                    <optgroup label="Multiplayer">
                                        <option value="Warehouse" {% if data.mapname == 'Warehouse' %}selected{% endif %}>Warehouse</option>
                                    </optgroup>
                                </select>
                                <label>Map</label>
                            </div>
                            <div class="input-field col s5 grey-text text-lighten-1">
                                <label for="id_playername">Scores by player</label>
                                <input type="text" name="playername" maxlength="100" id="id_playername" class="grey-text text-lighten-1" value="{{ data.playername }}">
                            </div>
                            <div class="input-field col s3 grey-text text-lighten-1">
                                <button class="waves-effect waves-light btn-flat orange darken-1 black-text" type="submit"><i class="material-icons left">search</i>Find</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row white-text">
            <table class="highlight col s12 m10 l10">
                <thead class="orange-text text-darken-1">
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="playername" value="{{ data.playername }}" maxlength="0">
                        <input type="hidden" name="mapname" value="{{ data.mapname }}" maxlength="0">
                        <tr>
                            <th><button type="submit" name="sortby" value="PN" class="waves-effect waves-light btn-flat orange-text text-darken-1"><b>Player Name</b></button></th>
                            <th><button type="submit" name="sortby" value="PT" class="waves-effect waves-light btn-flat orange-text text-darken-1"><b>Time taken</b></button></th>
                            <th><button type="submit" name="sortby" value="KC" class="waves-effect waves-light btn-flat orange-text text-darken-1"><b>Kill count</b></button></th>
                            <th><button type="submit" name="sortby" value="DD" class="waves-effect waves-light btn-flat orange-text text-darken-1"><b>Damage dealt</b></button></th>
                            <th><b><button type="submit" name="sortby" value="TM" class="waves-effect waves-light btn-flat orange-text text-darken-1"><b>Run made at</b></button></b></th>
                            {% if user.is_authorized %}
                                <th><b><button type="submit" name="sortby" value="ID" class="waves-effect waves-light btn-flat orange-text text-darken-1"><b>Delete</b></button></b></th>
                            {% endif %}
                        </tr>
                    </form>
                </thead>
                <tbody>
                    {% if search %}
                        {% for entry in entries_found %}
                            <tr>
                                <td><b>{{ entry.playername }}</b></td>
                                <td>{{ entry.playtime }}</td>
                                <td>{{ entry.killcount }}</td>
                                <td>{{ entry.damagedealt }}</td>
                                <td>{{ entry.time|date:"d.m.Y H:i" }}</td>
                                {% if user.is_authorized %}
                                    <td><a class="waves-effect btn-flat orange-text text-darken-1" href="{% url 'leaderboard-delete' entry.id %}" ><i class="material-icons left">delete</i></a></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    {% else %}
                        {% for entry in all_entries %}
                            <tr>
                                <td><b>{{ entry.playername }}</b></td>
                                <td>{{ entry.playtime }}</td>
                                <td>{{ entry.killcount }}</td>
                                <td>{{ entry.damagedealt }}</td>
                                <td>{{ entry.time|date:"d.m.Y H:i" }}</td>
                                {% if user.is_authorized %}
                                    <td><a class="waves-effect btn-flat orange-text text-darken-1" href="{% url 'leaderboard-delete' entry.id %}" ><i class="material-icons left">delete</i></a></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}