{% extends 'base.html' %}
{% load static %}

{% block title %}CapybaraStudios - Delete score entry {{ that_one_entry.id }}{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        {% block logged_in_content %}
            <div class="container">
                <div class="row">
                    <ul class="collapsible popout col s12 m12">
                        <li class="active">
                            <div class="collapsible-header orange darken-1"><i class="material-icons">chat_bubble</i><span><b>Delete score #{{ that_one_entry.id }}</b></span></div>
                            <div class="collapsible-body black grey-text text-lighten-1">
                                <form method="POST">
                                    {% csrf_token %}
                                    <h5 class="grey-text text-lighten-1">Are you sure you want to delete the score #{{ that_one_entry.id }}?</h5>
                                    <br><button type="submit" class="waves-effect waves-light btn orange darken-1 black-text"><i class="material-icons left">delete</i> Yes, Delete</button>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        {% endblock %}
    {% else %}
        {% block not_logged_in_content %}
            <div class="container">
                <h3 class="orange-text text-darken-1">Delete Blogpost {{ that_one_entry.id }}</h3>
                <p class="grey-text text-lighten-1">Sorry but only staff members can delete entries.</p>
            </div>
        {% endblock %}
    {% endif %}
{% endblock %}