body {
  background-color: black
}

.fab-top-left {
  position: fixed;
  left: 23px;
  top: 23px;
  right: auto;
  bottom: auto;
}

input {
  border-bottom: #BDBDBD !important;
  box-shadow: 0 1px 0 0 #BDBDBD !important;
}

input:focus {
  border-bottom: 1px solid #FB8C00  !important;
  box-shadow: 0 1px 0 0 #FB8C00 !important;
}

.input-field .prefix {
  color: #BDBDBD !important;
}

.input-field .prefix.active {
  color: #FB8C00 !important;
}

textarea:focus {
  border-bottom: 1px solid #FB8C00 !important;
  box-shadow: 0 1px 0 0 #FB8C00 !important;
}

label.active {
  color: #FB8C00 !important;
}

.dropdown-content {
  background-color: #212121  !important;
}

.dropdown-content li>span {
  background-color: #212121  !important;
}

.dropdown-content li>span.hover {
  background-color: #FB8C00  !important;
}

.dropdown-content li>a {
  color: #FB8C00 !important;
}

.dropdown-content li>a, .dropdown-content li>span {
  color: #FB8C00 !important;
}

.select-content li>span {
  color: #FB8C00 !important;
}

.select-content li>a {
  color: #FB8C00 !important;
}

.select-wrapper input.select-dropdown {
  color: #BDBDBD !important;
}

.select-dropdown li.optgroup>span {
  color: #BDBDBD !important;
}

.navbar-material .nav-wrapper .brand-logo img {
  height: 64px;
}

.collapsible-header, .collapsible-body, .collapsible, ul.collapsible>li
{
  border: 0px !important;
  border-bottom: 0px !important;
  box-shadow: none !important;
}

.carousel .indicators .indicator-item {
  background-color: #BFBFBF !important;
}

.carousel .indicator-item.active {
  background-color: #FB8C00 !important;
}

.oneline {
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.responsive-img{
    width: 100%;
    height: auto;
}

.parallax-container {
  height: 350px;
}


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}