{% extends 'base.html' %}
{% load static %}

{% block title %}CapybaraStudios - Surveys{% endblock %}

{% block content %}
    <div class="container">
        <h3 class="orange-text text-darken-1">Surveys</h3>

        {% if user.is_authenticated %}
            <div class="row">
                <div class="card col s8 grey darken-4">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="card-content">
                            <span class="card-title orange-text text-darken-1">Filter by keywords</span>
                            <div class="row">
                                <div class="input-field col s3">
                                    <label for="name">Name</label>
                                    <input type="text" name="name" id="name" maxlength="15" class="grey-text text-lighten-1">
                                </div>
                                <div class="input-field col s3">
                                    <label for="review">Review</label>
                                    <input type="text" name="review" id="review" maxlength="100" class="grey-text text-lighten-1">
                                </div>
                                <div class="input-field col s3">
                                    <label for="wishes">Wishes</label>
                                    <input type="text" name="wishes" id="wishes" maxlength="100" class="grey-text text-lighten-1">
                                </div>
                                <div class="input-field col s3 grey-text text-lighten-1">
                                    <button class="waves-effect waves-light btn-flat orange darken-1 black-text" type="submit"><i class="material-icons left">search</i>Find</button>
                                </div>
                                <div class="col s12">
                                    <span class="new badge orange darken-1 black-text left" data-badge-caption="Surveys total">{{ all_surveys.count }}</span>
                                    {% if search %}
                                        <span class="new badge orange darken-1 black-text left" data-badge-caption="filtered found">{{ surveys_found.count }}</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="container row">
                {% if search %}
                    <h5>Search results</h5>
                    {% for survey in surveys_found %}
                        <div class="col s12">
                            <div class="card sticky-action grey darken-4 grey-text text-lighten-1">
                                <div class="card-content row">
                                    <span class="card-title grey-text text-lighten-1">
                                        <b class="orange-text text-darken-1"><i class="material-icons left">trending_up</i>Survey #{{ survey.id }}</b>
                                    </span><br>
                                    <span>
                                        <span class="orange-text text-darken-1 left"><b>Ratings</b></span>
                                        <span class="new badge orange darken-1 black-text left" data-badge-caption="{{ survey.gameidea }}"><b>Gameidea</b></span>
                                        <span class="new badge orange darken-1 black-text left" data-badge-caption="{{ survey.gamedesign }}"><b>Gamedesign</b></span>
                                        <span class="new badge orange darken-1 black-text left" data-badge-caption="{{ survey.gameplay }}"><b>Gameplay</b></span>
                                        <span class="new badge orange darken-1 black-text left" data-badge-caption="{{ survey.website }}"><b>Website</b></span>
                                    </span><br><br>
                                    <p class="grey-text text-lighten-1"><b class="orange-text text-darken-1">Review</b><br>{{ survey.review }}</p><br>
                                    {% if survey.wishes %}<p class="grey-text text-lighten-1"><b class="orange-text text-darken-1">Wishes</b><br>{{ survey.wishes }}</p><br>{% endif %}
                                    <span class="orange-text text-darken-1 right"><b class="grey-text text-lighten-1">Posted by</b> {{ survey.name }}</span><br>
                                    <a class="orange-text text-darken-1 right" href="{% url 'deletesurvey' survey.id %}">{{ survey.timestamp|date:"d.m.Y H:i" }}</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    {% for survey in all_surveys %}
                        <div class="col s12">
                            <div class="card sticky-action grey darken-4 grey-text text-lighten-1">
                                <div class="card-content row">
                                    <span class="card-title grey-text text-lighten-1">
                                        <b class="orange-text text-darken-1"><i class="material-icons left">trending_up</i>Survey #{{ survey.id }}</b>
                                    </span><br>
                                    <span>
                                        <span class="orange-text text-darken-1 left"><b>Ratings</b></span>
                                        <span class="new badge orange darken-1 black-text left" data-badge-caption="{{ survey.gameidea }}"><b>Gameidea</b></span>
                                        <span class="new badge orange darken-1 black-text left" data-badge-caption="{{ survey.gamedesign }}"><b>Gamedesign</b></span>
                                        <span class="new badge orange darken-1 black-text left" data-badge-caption="{{ survey.gameplay }}"><b>Gameplay</b></span>
                                        <span class="new badge orange darken-1 black-text left" data-badge-caption="{{ survey.website }}"><b>Website</b></span>
                                    </span><br><br>
                                    <p class="grey-text text-lighten-1"><b class="orange-text text-darken-1">Review</b><br>{{ survey.review }}</p><br>
                                    {% if survey.wishes %}<p class="grey-text text-lighten-1"><b class="orange-text text-darken-1">Wishes</b><br>{{ survey.wishes }}</p><br>{% endif %}
                                    <span class="orange-text text-darken-1 right"><b class="grey-text text-lighten-1">Posted by</b> {{ survey.name }}</span><br>
                                    <a class="orange-text text-darken-1 right" href="{% url 'deletesurvey' survey.id %}">{{ survey.timestamp|date:"d.m.Y H:i" }}</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    {% else %}
        <div>
            <p class="grey-text text-lighten-1">We will discuss your questions at the end of the presentation.</p>
        </div>
    {% endif %}
{% endblock %}