{% extends 'base.html' %}
{% load static %}

{% block title %}CapybaraStudios - Questions{% endblock %}

{% block content %}
    <div class="container">
        <h3 class="orange-text text-darken-1">Questions</h3>

        {% if user.is_authenticated %}
            <div class="row">
                <div class="card col s6 grey darken-4">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="card-content">
                            <span class="card-title orange-text text-darken-1">Filter question topic</span>
                            <input type="hidden" name="sortby" value="PT" maxlength="0">
                            <div class="row">
                                <div class="input-field col s6">
                                    <select name="category" id="category">
                                        <option value="Project" {% if data.category == 'Project' %}selected{% endif %}>Project Management</option>
                                        <option value="Mechanics" {% if data.category == 'Mechanics' %}selected{% endif %}>Mechanics</option>
                                        <option value="Multiplayer" {% if data.category == 'Multiplayer' %}selected{% endif %}>Multiplayer</option>
                                        <option value="Assets" {% if data.category == 'Assets' %}selected{% endif %}>Assets UI Audio</option>
                                        <option value="Website" {% if data.category == 'Website' %}selected{% endif %}>Website</option>
                                    </select>
                                    <label>Category</label>
                                </div>
                                <div class="input-field col s3 grey-text text-lighten-1">
                                    <button class="waves-effect waves-light btn-flat orange darken-1 black-text" type="submit"><i class="material-icons left">search</i>Find</button>
                                </div>
                                <div class="col s12">
                                    <span class="new badge orange darken-1 black-text left" data-badge-caption="Questions total">{{ all_questions.count }}</span>
                                    {% if search %}
                                        <span class="new badge orange darken-1 black-text left" data-badge-caption="filtered found">{{ questions_found.count }}</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col s6">
                    <img src='data:image/png;base64,{{ chart }}' height="350px">
                </div>
            </div>

            <div class="container row">
                {% if search %}
                    <h5>Search results</h5>
                    {% for question in questions_found %}
                        <div class="col s12">
                            <div class="card sticky-action grey darken-4 grey-text text-lighten-1">
                                <div class="card-content row">
                                    <span class="card-title orange-text text-darken-1">
                                        <b><i class="material-icons left">chat_bubble</i>Question #{{ question.id }}</b>
                                        <span class="new badge orange darken-1 black-text" data-badge-caption="{{ question.category }}"><b>Category</b></span>
                                    </span>
                                    <span class="grey-text text-lighten-1">{{ question.question }}</span><br>
                                    <a class="orange-text text-darken-1 right" href="{% url 'deletequestion' question.id %}">{{ question.timestamp|date:"d.m.Y H:i" }}</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    {% for question in all_questions %}
                        <div class="col s12">
                            <div class="card sticky-action grey darken-4 grey-text text-lighten-1">
                                <div class="card-content row">
                                    <span class="card-title orange-text text-darken-1">
                                        <b><i class="material-icons left">chat_bubble</i>Question #{{ question.id }}</b>
                                        <span class="new badge orange darken-1 black-text" data-badge-caption="{{ question.category }}"><b>Category</b></span>
                                    </span>
                                    <span class="grey-text text-lighten-1">{{ question.question }}</span><br>
                                    <a class="orange-text text-darken-1 right" href="{% url 'deletequestion' question.id %}">{{ question.timestamp|date:"d.m.Y H:i" }}</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    {% else %}
        <div>
            <p class="grey-text text-lighten-1">We will discuss your questions at the end of the presentation.</p>
        </div>
    {% endif %}
{% endblock %}