{% extends "base.html" %}

{% block title %}CapybaraStudios - About{% endblock %}
{% load static %}

{% block content %}
    <div class="fixed-action-btn horizontal">
        <a class="btn-floating btn-large waves-effect waves-light orange darken-1">
            <i class="large material-icons">co_present</i>
        </a>
        <ul>
            <li><a class="btn-floating orange darken-3" href="{% url 'newquestion' %}"><i class="material-icons">chat_bubble</i></a></li>
            <li><a class="btn-floating orange darken-4" href="{% url 'newsurvey' %}"><i class="material-icons">trending_up</i></a></li>
        </ul>
    </div>

    <div class="section black">
        <div class="row container">
            <h2 class="header orange-text text-darken-1">About our Game</h2>
            <p class="grey-text text-lighten-1">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="{% static '/images/space.png' %}"></div>
    </div>
    <div class="section black">
        <div class="row container">
            <h2 class="header orange-text text-darken-1">Gamemodes and Maps</h2>
            <p class="grey-text text-lighten-1">Our Game features Singleplayer aswell as Multiplayer modes. In Singleplayer you fight your way through the map against bots fulfilling an objective. There is a leaderboard where you might end up seeing your score if you prove to be good enough. In Multiplayer you can play online with your friends.</p>
            <ul class="collapsible popout">
                <li>
                    <div class="collapsible-header orange"><i class="material-icons">person</i><span><b>Singleplayer</b> Space</span></div>
                    <div class="collapsible-body black grey-text text-lighten-1">
                        <span>Fight your way through space. Enter the space base, fight your way through the graveyard and get back to earth ASAP.</span>
                        <div class="row">
                            <div class="col s6 m6">
                                <img class="materialboxed" src="{% static '/images/space.png' %}" width="100%">
                            </div>
                            <div class="col s6 m6">
                                <img class="materialboxed" src="{% static '/images/woods.png' %}" width="100%">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header orange darken-1"><i class="material-icons">person</i><span><b>Singleplayer</b> Dungeon</span></div>
                    <div class="collapsible-body black grey-text text-lighten-1"><span>Currently WIP</span></div>
                </li>
                <li>
                    <div class="collapsible-header orange darken-2"><i class="material-icons">person</i><span><b>Singleplayer</b> Military Base</span></div>
                    <div class="collapsible-body black grey-text text-lighten-1"><span>Currently WIP</span></div>
                </li>
                <li>
                    <div class="collapsible-header orange darken-3"><i class="material-icons">group</i><span><b>Multiplayer</b> Warehouse</span></div>
                    <div class="collapsible-body black grey-text text-lighten-1"><span>Play online with your friends in this chaotic but interesting looking warehouse.</span></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="{% static '/images/woods.png' %}"></div>
    </div>
    <div class="section black">
        <div class="row container">
            <h2 class="header orange-text text-darken-1">Weapons</h2>
            <p class="grey-text text-lighten-1">Im our game you can find different kinds of weapons for many usecases and playstyles. Check out what we've got for you.</p>
        </div>

        <div class="carousel">
            <div class="carousel-item grey-text text-lighten-1">
                <img src="{% static '/images/weapons/Revolver.png' %}">
                <span><b class="orange-text text-darken-1">Revolver</b><br>Range ++<br>Damage +<br>Firerate +</span>
            </div>
            <div class="carousel-item grey-text text-lighten-1">
                <img src="{% static '/images/weapons/Shotgun.png' %}">
                <span><b class="orange-text text-darken-1">Shotgun</b><br>Range +<br>Damage +++<br>Firerate +</span>
            </div>
            <div class="carousel-item grey-text text-lighten-1">
                <img src="{% static '/images/weapons/Assault_Rifle.png' %}">
                <span><b class="orange-text text-darken-1">Assault Rifle</b><br>Range +<br>Damage +<br>Firerate +++</span>
            </div>
            <div class="carousel-item grey-text text-lighten-1">
                <img src="{% static '/images/weapons/Heavy_MachineGun.png' %}">
                <span><b class="orange-text text-darken-1">Heavy Machine Gun</b><br>Range ++<br>Damage +<br>Firerate ++</span>
            </div>
            <div class="carousel-item grey-text text-lighten-1">
                <img src="{% static '/images/weapons/Uzi.png' %}">
                <span><b class="orange-text text-darken-1">Uzi</b><br>Range +<br>Damage +<br>Firerate +++</span>
            </div>
            <div class="carousel-item grey-text text-lighten-1">
                <img src="{% static '/images/weapons/Sniper.png' %}">
                <span><b class="orange-text text-darken-1">Sniper</b><br>Range +++<br>Damage +++<br>Firerate +</span>
            </div>
            <div class="carousel-item grey-text text-lighten-1">
                <img src="{% static '/images/weapons/GrappleGun.png' %}">
                <span><b class="orange-text text-darken-1">Grapple Gun</b><br>Range +<br>Damage -<br>Firerate +</span>
            </div>
            <div class="carousel-item grey-text text-lighten-1">
                <img src="{% static '/images/weapons/Cannonball_Launcher.png' %}">
                <span><b class="orange-text text-darken-1">Cannonball Launcher</b><br>Range +++<br>Damage +++<br>Firerate -</span>
            </div>
            <div class="carousel-item grey-text text-lighten-1">
                <img src="{% static '/images/weapons/HRL.png' %}">
                <span><b class="orange-text text-darken-1">Handheld Rocket Launcher</b><br>Range +++<br>Damage +++<br>Firerate +</span>
            </div>
            <div class="carousel-item grey-text text-lighten-1">
                <img src="{% static '/images/weapons/Knife.png' %}">
                <span><b class="orange-text text-darken-1">Knife</b><br>Range -<br>Damage ++<br>Firerate +</span>
            </div>
        </div>
    </div>

    <div class="parallax-container">
        <div class="parallax"><img src="{% static '/images/Nightsky.png' %}"></div>
    </div>
    <div class="section black">
        <div class="row container white-text">
            <h2 class="header orange-text text-darken-1">Our Team</h2>
            <table class="highlight col s12 m6 l4">
                <tbody>
                    <tr>
                        <td class="orange-text text-darken-1"><b>Eric</b></td>
                        <td>Producer and Developer</td>
                    </tr>
                    <tr>
                        <td class="orange-text text-darken-1"><b>Zainab</b></td>
                        <td>UI Designer and Projectmanagement</td>
                    </tr>
                    <tr>
                        <td class="orange-text text-darken-1"><b>Florian</b></td>
                        <td>Sounddesigner and Webdeveloper</td>
                    </tr>
                    <tr>
                        <td class="orange-text text-darken-1"><b>Erdenay</b></td>
                        <td>Environment- and Mapdesigner</td>
                    </tr>
                    <tr>
                        <td class="orange-text text-darken-1"><b>Deniz</b></td>
                        <td>Asset Creator</td>
                    </tr>
                    <tr>
                        <td class="orange-text text-darken-1"><b>Felix</b></td>
                        <td>Developer</td>
                    </tr>
                    <tr>
                        <td class="orange-text text-darken-1"><b>Adrian</b></td>
                        <td>Developer</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="{% static '/images/Nightsky.png' %}"></div>
    </div>
    <div class="section black">
        <div class="row container white-text">
            <h2 class="header orange-text text-darken-1">Technologies Used</h2>
            <table class="highlight col s12 m4 l4">
                <tbody>
                    <tr>
                        <td class="orange-text text-darken-1"><b>Unity</b></td>
                        <td>Game Engine</td>
                    </tr>
                    <tr>
                        <td class="orange-text text-darken-1"><b>C#</b></td>
                        <td>Code</td>
                    </tr>
                    <tr>
                        <td class="orange-text text-darken-1"><b>Git</b></td>
                        <td>Version Control System</td>
                    </tr>
                    <tr>
                        <td class="orange-text text-darken-1"><b>Django</b></td>
                        <td>Website Development</td>
                    </tr>
                    <tr>
                        <td class="orange-text text-darken-1"><b>Jira</b></td>
                        <td>Projectmanagement</td>
                    </tr>
                </tbody>
            </table>
            <div class="col s12 m4 l4">
                <img class="materialboxed" src="{% static '/images/technologies.png' %}" width="100%">
            </div>
            <table class="highlight col s12 m4 l4">
                <tbody>
                    <tr>
                        <td class="orange-text text-darken-1"><b>Blender</b></td>
                        <td>Asset Creation</td>
                    </tr>
                    <tr>
                        <td class="orange-text text-darken-1"><b>Mixamo</b></td>
                        <td>Animations</td>
                    </tr>
                    <tr>
                        <td class="orange-text text-darken-1"><b>Photoshop</b></td>
                        <td>Graphics</td>
                    </tr>
                    <tr>
                        <td class="orange-text text-darken-1"><b>FL Studio</b></td>
                        <td>Music Production</td>
                    </tr>
                    <tr>
                        <td class="orange-text text-darken-1"><b>Discord</b></td>
                        <td>Communication</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}