<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>

  {% load static %}

      <!-- Materialize CSS dependencies -->
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--JQuery-->
      <script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/theming.css' %}">
    {% endblock %}
    {% block scripts %}
        <script type="text/javascript" src="{% static 'js/loadingMaterialize.js' %}"></script>
    {% endblock %}
</head>
<body>
    <main>
        {% block navbar %}
            <div class="fixed-action-btn fab-top-left">
                <a data-target="sidenav" class="sidenav-trigger btn-floating btn-large waves-effect waves-light grey darken-4"><i class="material-icons">menu</i></a>
            </div>
            <ul id="sidenav" class="sidenav grey darken-4">
                <li>
                    <div class="user-view">
                        <div class="background">
                            <img src="{% static '/images/Nightsky.png' %}">
                        </div>
                        {% if user.is_authenticated %}
                            {% if user.profile_picture %}
                                <img class="circle" src="{{ user.profile_picture.url }}">
                            {% else %}
                                <div class="black">
                                    <img class="circle" src="{% static '/images/Capybara.png' %}">
                                </div>
                            {% endif %}
                            <a><span class="orange-text text-darken-1 name">{{ user }}</span></a>
                            <a><span class="white-text email">{{ user.email }}</span></a>
                            <a class="btn-floating halfway-fab waves-effect waves-light orange darken-1" href="{% url 'logout' %}"><i class="material-icons">logout</i></a>
                        {% else %}
                            <a><img class="circle" src="{% static '/images/Capybara.png' %}"></a>
                            <a><span class="orange-text text-darken-1 name">Guest</span></a>
                            <a><span class="white-text email">watching our presentation</span></a>
                            <a class="btn-floating halfway-fab waves-effect waves-light orange darken-1" href="{% url 'login' %}"><i class="material-icons">login</i></a>
                        {% endif %}
                    </div>
                </li>
                <li>
                    <ul class="collapsible grey-text text-lighten-1">
                        {% if user.is_authenticated %}
                            <li>
                                <div class="collapsible-header"><i class="material-icons orange-text text-darken-1">insights</i>Insights</div>
                                <div class="collapsible-body grey darken-3">
                                    <ul>
                                        <li><a class="waves-effect waves-light grey-text text-lighten-1" href="{% url 'userlist' %}"><i class="material-icons orange-text text-darken-1">group</i>Userlist</a></li>
                                        <li><a class="waves-effect waves-light grey-text text-lighten-1" href="{% url 'viewquestions' %}"><i class="material-icons orange-text text-darken-1">chat_bubble</i>Questions</a></li>
                                        <li><a class="waves-effect waves-light grey-text text-lighten-1" href="{% url 'viewsurveys' %}"><i class="material-icons orange-text text-darken-1">trending_up</i>Survey entries</a></li>
                                        <li><a class="waves-effect waves-light grey-text text-lighten-1" href="{% url 'viewreviewswishes' %}"><i class="material-icons orange-text text-darken-1">auto_stories</i>Reviews and Wishes</a></li>
                                        <li><a class="waves-effect waves-light grey-text text-lighten-1" href="{% url 'statistics' %}"><i class="material-icons orange-text text-darken-1">bar_chart</i>Statistics</a></li>
                                    </ul>
                                </div>
                            </li>
                        {% endif %}
                        <li>
                            <div class="collapsible-header"><i class="material-icons orange-text text-darken-1">videogame_asset</i>Game</div>
                            <div class="collapsible-body grey darken-3">
                                <ul>
                                    <li><a class="waves-effect waves-light grey-text text-lighten-1" href="{% url 'about' %}"><i class="material-icons orange-text text-darken-1">info</i>About</a></li>
                                    <li><a class="waves-effect waves-light grey-text text-lighten-1" href="{% url 'team' %}"><i class="material-icons orange-text text-darken-1">group</i>Our Team</a></li>
                                    <li><a class="waves-effect waves-light grey-text text-lighten-1" href="{% url 'technologies' %}"><i class="material-icons orange-text text-darken-1">hub</i>Technologies used</a></li>
                                    <li><a class="waves-effect waves-light grey-text text-lighten-1" href="{% url 'development' %}"><i class="material-icons orange-text text-darken-1">code</i>Development process</a></li>
                                    <li><a class="waves-effect waves-light grey-text text-lighten-1" href="{% url 'downloads' %}"><i class="material-icons orange-text text-darken-1">download</i>Downloads</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header"><i class="material-icons orange-text text-darken-1">co_present</i>Interactive</div>
                            <div class="collapsible-body grey darken-3">
                                <ul>
                                    <li><a class="waves-effect waves-light grey-text text-lighten-1" href="{% url 'newquestion' %}"><i class="material-icons orange-text text-darken-1">chat_bubble</i>Write question</a></li>
                                    <li><a class="waves-effect waves-light grey-text text-lighten-1" href="{% url 'newsurvey' %}"><i class="material-icons orange-text text-darken-1">trending_up</i>Fill out survey</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header"><i class="material-icons orange-text text-darken-1">flash_on</i>Specials</div>
                            <div class="collapsible-body grey darken-3">
                                <ul>
                                    <li><a class="waves-effect waves-light grey-text text-lighten-1" href="{% url 'blogpost-list' %}"><i class="material-icons orange-text text-darken-1">newspaper</i>Blog</a></li>
                                    <li><a class="waves-effect waves-light grey-text text-lighten-1" href="{% url 'leaderboard-list' %}"><i class="material-icons orange-text text-darken-1">view_list</i>Leaderboard</a></li>
                                    <li><a class="waves-effect waves-light grey-text text-lighten-1" href="{% url 'leaderboard-charts' %}"><i class="material-icons orange-text text-darken-1">bar_chart</i>Leaderboard Charts</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        {% endblock %}
        {% block content %}{% endblock %}
    </main>

    {% block footer %}
        <footer class="page-footer black grey-text text-lighten-1">
            <div class="container">
                <b class="orange-text text-darken-1">© 2022-2023 CapybaraStudios</b> Project Group @ BHT
            </div>
            <br>
        </footer>
    {% endblock %}

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
</body>
</html>