<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>

  {% load static %}

      <!-- Materialize CSS dependencies -->
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--JQuery-->
      <script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/theming.css' %}">
    {% endblock %}
    {% block scripts %}
        <script type="text/javascript" src="{% static 'js/loadingMaterialize.js' %}"></script>
    {% endblock %}
</head>
<body>
    <main>
        {% block navbar %}
            <!-- Dropdown Structure -->
            <ul id="user-widget" class="dropdown-content">
                <li><a class="waves-effect waves-light"><i class="material-icons left">edit</i>Edit Profile</a></li>
                <li><a class="waves-effect waves-light" href="{% url 'userlist' %}"><i class="material-icons left">group</i>View Users</a></li>
                <li><a class="waves-effect waves-light"><i class="material-icons left">chat_bubble</i>View Blogposts</a></li>
                <li class="divider"></li>
                <li><a class="waves-effect waves-light" href="{% url 'logout' %}"><i class="material-icons left">logout</i> Logout</a></li>
            </ul>
            <div class="navbar-fixed">
                <nav>
                    <div class="nav-wrapper orange darken-1">
                        <ul id="nav-categories" class="left">
                            <li><img src="{% static '/images/logo.png' %}" alt="Logo" height="64px"></li>
                            <li><a class="waves-effect waves-light" href="{% url 'about' %}">About</a></li>
                            <li><a class="waves-effect waves-light" href="{% url 'howto' %}">How to play</a></li>
                            <li><a class="waves-effect waves-light" href="{% url 'downloads' %}">Downloads</a></li>
                            <li><a class="waves-effect waves-light" href="{% url 'blogpost-list' %}">Blog</a></li>
                            <li><a class="waves-effect waves-light" href="{% url 'leaderboard-list' %}">Leaderboard</a></li>
                            <li><a class="waves-effect waves-light">Survey</a></li>
                            {% if user.is_authenticated %}<li><a class="waves-effect waves-light">Insights</a></li>{% endif %}
                        </ul>
                        <ul id="login" class="right">
                            {% if user.is_authenticated %}
                                <li><a class="waves-effect waves-light dropdown-trigger" data-target="user-widget"><i class="material-icons left">person</i>{{ user.username }}<i class="material-icons right">arrow_drop_down</i></a></li>
                            {% else %}
                                <li><a class="waves-effect waves-light" href="{% url 'login' %}"><i class="material-icons left">login</i> Login</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
            </div>
        {% endblock %}
        {% block content %}{% endblock %}
    </main>

    {% block footer %}
        <footer class="page-footer black grey-text text-lighten-1">
            <div class="container">
                <b class="orange-text text-darken-1">© 2022-2023 CapybaraStudios</b> Project Group @ BHT
            </div>
            <br>
        </footer>
    {% endblock %}

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
</body>
</html>