{% extends "base.html" %}

{% block title %}CapybaraStudios - Downloads{% endblock %}
{% load static %}

{% block content %}
    <div class="section black">
        <div class="row container">
            <h2 class="header orange-text text-darken-1">Download Section</h2>
            <p class="grey-text text-lighten-1 flow-text">Choose a category to find the links to the downloads.</p>
            <br>
            <ul class="collapsible popout">
                <li>
                    <div class="collapsible-header orange darken-1"><i class="material-icons">download</i><span><b>Windows</b></span></div>
                    <div class="collapsible-body grey darken-4 grey-text text-lighten-1">
                        <span>Builds are available in our Google Drive link.</span>
                        <br><br><a href="https://drive.google.com/drive/folders/1NtLm_NRmni2Ga3YnFvvI5wa8VxUCOeJ2?usp=sharing" class="waves-effect waves-light btn orange darken-1 black-text"><i class="material-icons left">cloud</i>Google Drive</a>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header orange darken-3"><i class="material-icons">build</i><span><b>Source</b> For building yourself</span></div>
                    <div class="collapsible-body grey darken-4 grey-text text-lighten-1">
                        <span>Get the sourcecode and files directly from our Git Repository. You need to open Unity and build the game by yourself. Click on the download button to get started.</span>
                        <br><br><a href="https://github.com/fnyrawr/capybarastudios/archive/refs/heads/master.zip" class="waves-effect waves-light btn orange darken-1 black-text"><i class="material-icons left">cloud_download</i>Download ZIP</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <br>
    <div class="parallax-container">
        <div class="parallax"><img src="{% static '/images/Nightsky.png' %}"></div>
    </div>
{% endblock %}