{% extends "base.html" %}

{% block title %}CapybaraStudios - Home{% endblock %}
{% load static %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/theming.css' %}">
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{% static 'js/loadingMaterialize.js' %}"></script>
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="container">
            <div class="row">
                <div class="col s12 m6">
                    <div class="card orange lighten-3 z-depth-3">
                        <div class="card-content">
                            <p>Welcome back, {{ user.username }}.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        {% block not_logged_in_content %}
            <div class="container">
                <div class="row">
                    <div class="col s12 m6">
                        <div class="card orange lighten-3 z-depth-3">
                            <div class="card-content">
                                <p>Welcome to the CapybaraStudios Website.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    {% endif %}
{% endblock %}

{% block login_widget %}
    {% if user.is_authenticated %}
        <li><a class="waves-effect waves-light" href="{% url 'logout' %}"><i class="material-icons left">logout</i> Logout</a></li>
    {% else %}
      <li><a class="waves-effect waves-light" href="{% url 'login' %}"><i class="material-icons left">login</i> Login</a></li>
    {% endif %}
{% endblock %}