{% extends "base.html" %}

{% block title %}CapybaraStudios - How to play the game{% endblock %}
{% load static %}

{% block content %}
    <div class="container">
        <br><br><br>
        <div class="carousel carousel-slider center" data-indicators="true">
            <div class="carousel-item middle-indicator grey-text text-lighten-1">
                <div class="left-align">
                    <h3 class="orange-text">Game mechanics</h3>
                    <h5>The following slides introduce the keybindings. You can learn how to move in the game.</h5>
                    <h5>Click indicators or slide or swipe to continue.</h5>
                </div>
            </div>
            <div class="carousel-item middle-indicator grey-text text-lighten-1">
                <div class="left-align">
                    <h3 class="orange-text">Basic movement</h3>
                    <h5>Use WASD to move around. You can slide with shift. Jump with space.</h5>
                </div>
            </div>
            <div class="carousel-item middle-indicator grey-text text-lighten-1">
                <div class="left-align">
                    <h3 class="orange-text">Interaction with objects</h3>
                    <h5>Use E to interact with objects. You can open doors, pick up weapons and more.</h5>
                </div>
            </div>
        </div>
        <br><br><br>
    </div>
        <div class="parallax-container">
            <div class="parallax"><img src="{% static '/images/space.png' %}"></div>
        </div>
        <div class="section black">
            <div class="row container white-text">
                <h2 class="header orange-text text-darken-1">Controls</h2>
                <table class="highlight col s12 m6 l4">
                    <tbody>
                        <tr>
                            <td class="orange-text text-darken-1"><b>Move</b></td>
                            <td>WASD Keys</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

{% endblock %}