{% extends "base.html" %}

{% block title %}CapybaraStudios - How to play the game{% endblock %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="slider">
            <ul class="slides black">
                <li>
                    <div class="caption left-align">
                        <h3 class="orange-text text-darken-1">Base mechanics</h3>
                        <h5 class="light grey-text text-lighten-1">These slides will explain you the base mechanics of our game</h5>
                    </div>
                </li>
                <li>
                    <div class="caption center-align">
                        <h3 class="orange-text text-darken-1">Movement</h3>
                        <h5 class="light grey-text text-lighten-1">You can move with WASD</h5>
                    </div>
                </li>
                <li>
                    <div class="caption left-align">
                        <h3 class="orange-text text-darken-1">Left Aligned Caption</h3>
                        <h5 class="light grey-text text-lighten-1">Here's our small slogan.</h5>
                    </div>
                </li>
                <li>
                    <div class="caption right-align">
                        <h3 class="orange-text text-darken-1">Right Aligned Caption</h3>
                        <h5 class="light grey-text text-lighten-1">Here's our small slogan.</h5>
                    </div>
                </li>
                <li>
                    <div class="caption center-align">
                        <h3 class="orange-text text-darken-1">This is our big Tagline!</h3>
                        <h5 class="light grey-text text-lighten-1">Here's our small slogan.</h5>
                    </div>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}