{% extends "base.html" %}

{% block title %}CapybaraStudios - Team{% endblock %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="section black">
            <div class="row container white-text">
                <h2 class="header orange-text text-darken-1">Our Team</h2>
                <table class="highlight col s12 m6 l4">
                    <tbody>
                        <tr>
                            <td class="orange-text text-darken-1"><b>Eric</b></td>
                            <td>Producer and Developer</td>
                        </tr>
                        <tr>
                            <td class="orange-text text-darken-1"><b>Zainab</b></td>
                            <td>UI Designer and Projectmanagement</td>
                        </tr>
                        <tr>
                            <td class="orange-text text-darken-1"><b>Florian</b></td>
                            <td>Sounddesigner and Webdeveloper</td>
                        </tr>
                        <tr>
                            <td class="orange-text text-darken-1"><b>Erdenay</b></td>
                            <td>Environment- and Mapdesigner</td>
                        </tr>
                        <tr>
                            <td class="orange-text text-darken-1"><b>Deniz</b></td>
                            <td>Asset Creator</td>
                        </tr>
                        <tr>
                            <td class="orange-text text-darken-1"><b>Felix</b></td>
                            <td>Developer</td>
                        </tr>
                        <tr>
                            <td class="orange-text text-darken-1"><b>Adrian</b></td>
                            <td>Developer</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="{% static '/images/Nightsky.png' %}"></div>
    </div>

{% endblock %}