{% extends "base.html" %}

{% block title %}CapybaraStudios - Team{% endblock %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="section black">
            <div class="row container white-text">
                <h2 class="header orange-text text-darken-1">Our Team</h2>
                <table class="highlight col s12 m6 l4">
                    <tbody>
                        <tr>
                            <td class="orange-text text-darken-1"><b>Eric</b></td>
                            <td>Producer and Developer</td>
                        </tr>
                        <tr>
                            <td class="orange-text text-darken-1"><b>Zainab</b></td>
                            <td>UI Designer and Projectmanagement</td>
                        </tr>
                        <tr>
                            <td class="orange-text text-darken-1"><b>Florian</b></td>
                            <td>Sounddesigner and Webdeveloper</td>
                        </tr>
                        <tr>
                            <td class="orange-text text-darken-1"><b>Erdenay</b></td>
                            <td>Environment- and Mapdesigner</td>
                        </tr>
                        <tr>
                            <td class="orange-text text-darken-1"><b>Deniz</b></td>
                            <td>Asset Creator</td>
                        </tr>
                        <tr>
                            <td class="orange-text text-darken-1"><b>Felix</b></td>
                            <td>Developer</td>
                        </tr>
                        <tr>
                            <td class="orange-text text-darken-1"><b>Adrian</b></td>
                            <td>Developer</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="{% static '/images/Nightsky.png' %}"></div>
    </div>

    <div class="section black">
        <div class="row container">
            <div class="col s4 grey darken-4 grey-text text-lighten-1">
                <div class="card-image waves-effect waves-block waves-light">
                    <img src="{% static '/images/Capybara.png' %}" style="max-width: 100%; height: auto">
                </div>
                <div class="card-content">
                    <ul class="collapsible">
                        <h6><b class="orange-text text-darken-1">Eric</b> - Producer and Developer</h6>
                        <li>
                            <div class="collapsible-header grey darken-4">Weapon Scripts<i class="material-icons left">arrow_drop_down</i></div>
                            <div class="collapsible-body grey darken-3">
                                <ul>
                                    <li>Grappling Gun</li>
                                    <li>Particles</li>
                                    <li>Bullet markings</li>
                                    <li>Damage dealing</li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header grey darken-4">Player and Movement<i class="material-icons left">arrow_drop_down</i></div>
                            <div class="collapsible-body grey darken-3">
                                <ul>
                                    <li>Player ragdolls</li>
                                    <li>Interpolation</li>
                                    <li>Sliding</li>
                                    <li>Sneaking / Crouching</li>
                                    <li>Inputs</li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header grey darken-4">Camera<i class="material-icons left">arrow_drop_down</i></div>
                            <div class="collapsible-body grey darken-3">
                                <ul>
                                    <li>Deatheffect</li>
                                    <li>Zooming</li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header grey darken-4">AI development<i class="material-icons left">arrow_drop_down</i></div>
                            <div class="collapsible-body grey darken-3">
                                <ul>
                                    <li>Configs</li>
                                    <li>States</li>
                                    <li>Behavior and Sensor</li>
                                    <li>Shooting</li>
                                    <li>Stats</li>
                                    <li>Collect and drop weapon</li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header grey darken-4">Multiplayer<i class="material-icons left">arrow_drop_down</i></div>
                            <div class="collapsible-body grey darken-3">
                                <ul>
                                    <li>Relay</li>
                                    <li>Movement</li>
                                    <li>Camera</li>
                                    <li>Player</li>
                                    <li>Menu</li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header grey darken-4">Management<i class="material-icons left">arrow_drop_down</i></div>
                            <div class="collapsible-body grey darken-3">
                                <ul>
                                    <li>Testing and Bugfixing</li>
                                    <li>Git Management</li>
                                    <li>Communications</li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}