{% extends "base.html" %}

{% block title %}CapybaraStudios - Technologies{% endblock %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="section black">
            <h2 class="header orange-text text-darken-1">Technologies Used</h2>
            <div class="row container white-text">
                <div class="col s12 m8 l8">
                    <img class="materialboxed" src="{% static '/images/technologies.png' %}" width="100%">
                </div>
            </div>
            <div class="row container white-text">
                <table class="highlight col s12 m8 l8">
                    <tbody>
                        <tr>
                            <td class="orange-text text-darken-1"><b>Unity</b></td>
                            <td>Game Engine</td>
                        </tr>
                        <tr>
                            <td class="orange-text text-darken-1"><b>C#</b></td>
                            <td>Code</td>
                        </tr>
                        <tr>
                            <td class="orange-text text-darken-1"><b>Git</b></td>
                            <td>Version Control System</td>
                        </tr>
                        <tr>
                            <td class="orange-text text-darken-1"><b>Django</b></td>
                            <td>Website Development</td>
                        </tr>
                        <tr>
                            <td class="orange-text text-darken-1"><b>Jira</b></td>
                            <td>Projectmanagement</td>
                        </tr>
                        <tr>
                            <td class="orange-text text-darken-1"><b>Blender</b></td>
                            <td>Asset Creation</td>
                        </tr>
                        <tr>
                            <td class="orange-text text-darken-1"><b>Mixamo</b></td>
                            <td>Animations</td>
                        </tr>
                        <tr>
                            <td class="orange-text text-darken-1"><b>Photoshop</b></td>
                            <td>Graphics</td>
                        </tr>
                        <tr>
                            <td class="orange-text text-darken-1"><b>FL Studio</b></td>
                            <td>Music Production</td>
                        </tr>
                        <tr>
                            <td class="orange-text text-darken-1"><b>Discord</b></td>
                            <td>Communication</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="{% static '/images/Nightsky.png' %}"></div>
    </div>

{% endblock %}